.dashboard{
    font-family: var(--fontDefault);
    background-color: red;
    display: flex;
    height: 100vh;
    position: relative;
}
.dashboard .dashboardMainSection {
    width: 100%;
    height: 100%;
}

.dashboardSection {
    width: 100%;
    height: 100%;
    /* padding: 1rem; */
    background-color: var(--mainBackgroundColor);
}

.dashboardHelloUserDiv{
    /* background-color: red; */
    padding-top: 1em;
    padding-left: 2%;
}