.homeBackground {
    background-color: var(--mainBackgroundColor);
    /* background-color: rebeccapurple; */
    min-height: 100vh;
    width: 100%;
    font-family: var(--fontDefault);
    overflow: hidden;
    position: relative;
}

.homeHeroDiv{
    position: relative;
    top: 5em;
    /* background-color: red; */
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 3em 0em 0em 6em;
    transition: all 0.5s ease; /* Por que essa transição não funciona?*/
}

.homeHeroDivLeft{
    /* background-color: aqua; */
    margin-top: 1em;
    margin-left: 1.3em;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.homeHeroTitle{
    font-size: 4em;
    line-height: 1;
    color: var(--txtMain);
}

.homeHeroSubTitle{
    font-size: 1.2em;
    color: var(--txt);
}

.homeDivButtons{
    /* background-color: red; */
    margin-top: 2em;
    display: flex;
    gap: 1em;
}

.homeRegisterButton{
    background-color: var(--txtMain);
    color: var(--txtContrast);
    padding: 1em 2em;
    border-radius: 2em;
    font-size: 1em;
    text-decoration: none;
}

.homeRegisterButton:hover{
    cursor: pointer;
}

.homeLoginButton{
    padding: 1em 2em;
    border-radius: 2em;
    font-size: 1em;
    background-color: transparent;
    color: var(--txtMain);
    border: 2px solid var(--txtMain);
}

.homeLoginButton:hover{
    cursor: pointer;
}

@media(max-width: 1041px){
    div.homeHeroDiv{
        padding: 1rem;
        transition: padding .3s;
    }
}

@media(max-width: 900px){
    div.homeHeroDiv{
        padding: 0;
        /* background-color: red; */
    }
}

@media(max-width: 820px){
  div.homeHeroDiv{
    padding: 0;
    /* background-color: red; */
  }
}

@media (max-width: 800px) {
    .homeBackground{
        /* background-color: red; */
    }

    div.homeHeroDiv{
        padding: 0;
        transition: padding .3s;
        display: flex;
        transition: all 0.5s ease;
    }

    .homeHeroDivLeft{
        padding: 0;
        margin: 0;
        width: 50%;
        font-size: 0.8rem;
        transition: all 0.5s ease;
    }
}

@media (max-width: 614px) {
    .homeHeroDiv{
        flex-wrap: wrap-reverse;
        min-height: 100vh;
        overflow-y: auto;
        justify-content: flex-start;
        align-content: flex-start;
        gap: 1rem;
        transition: all 0.5s ease;
        justify-content: center;
        gap: 0
    }

    div.homeHeroDivLeft{
        margin: 0;
        padding: 1rem;
        width: 100%;
    }
    
    div.homeDivButtons{
        justify-content: space-around;
    }
}


@media (max-width: 400px) {

    h1.homeHeroTitle{
        font-size: 350%;
        /* background-color: red;- */
        display: flex;

    }

    div.homeHeroDiv{
        align-content: flex-start;
        justify-content: flex-start;
        top: .5rem;
        gap: 0;
    }

    div.homeHeroDivLeft{
        /* background-color: red; */
        align-items: center;
        height: 60dvh;
    }
    
}
