.logoDivBackground{
    display: flex;
    font-family: var(--fontDefault);
    align-items: center;
    text-decoration: none;
    gap: 1px;
}

.logoBackground{
    color: var(--logoFontColor);
    background-color: var(--logoColor);
    font-size: 1.1em;
    padding: .5em;
    width: 2.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
}

.logoName{
    color: var(--logoNameColor);
    font-size: 20px;
    font-weight: 600;
}