.contactProfileCardContactCard {
  background: #f7f8fa;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  max-width: 1100px;
  min-width:500px ;
  width: 75%;
  margin: 30px auto;
  font-family: Arial, sans-serif;
  transition: width .3s linear;
  position: relative;
}

@media(max-width: 1316px ){
  .contactProfileCardContactCard {width: 81%;}
}

.contactProfileCardContactHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.contactProfileCardProfileLeft {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contactProfileCardAvatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #dfe3ea;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #6c757d;
}

.contactProfileCardProfileInfo h2 {
  margin: 0;
  font-size: 26px;
}

.contactProfileCardStar {
  color: gold;
  font-size: 18px;
  margin-left: 5px;
}

.contactProfileCardSubtitle {
  margin: 6px 0 10px;
  color: #6c757d;
}

.contactProfileCardTags {
  display: flex;
  gap: 10px;
}

.contactProfileCardTag {
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.contactProfileCardTagBlue {
  background: #e0ecff;
  color: #2b6cb0;
}

.contactProfileCardTagPurple {
  background: #f3e8ff;
  color: #7e22ce;
}

.contactProfileCardTagGreen {
  background: #dcfce7;
  color: #15803d;
}

.contactProfileCardActions {
  position: relative;
  /* transform: translateX(-50%); */
  right: 0rem;
  display: flex;
  gap: 10px;
}

@media(max-width: 885px){
  .contactProfileCardActions{
    transform: translateX(-50%);
  }
}

.contactProfileCardBtn {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  gap: 8px;
  align-items: center;
}

.contactProfileCardEdit {
  background: #e9ecef;
}

.contactProfileCardDelete {
  background: #fde2e2;
  color: #c92a2a;
}

.contactProfileCardContactContent {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-top: 20px;
}

.contactProfileCardInfoSection h3 {
  margin-bottom: 20px;
}

.contactProfileCardInfoItem {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.contactProfileCardInfoItem i {
  font-size: 18px;
  color: #6c757d;
  margin-top: 4px;
}

.contactProfileCardLabel {
  font-size: 12px;
  color: #adb5bd;
  text-transform: uppercase;
}

.contactProfileCardInfoItem p {
  margin: 4px 0 0;
  font-size: 14px;
}

.contactProfileCardFooter {
  margin-top: 20px;
  font-size: 12px;
  color: #adb5bd;
}
