.dashboardHeader{
    background-color: var(--secondBackgroundColor);
    width: 100%;
    /* max-height: 10%; */
    padding: 1em;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr 0.3fr 1fr;
    transition: all 0.3s ease;
    font-family: var(--fontDefault);
}

.dashboardHeader h1 {
    font-size: 1.4em;
}

.dashboardHeaderSearchContacts {
    margin-left: 1em;
    padding: .8em;
    border-radius: 1em;
    border: none;
    background-color: var(--thirdBackgroundColor);
}

.dashboardHeaderBellButton {
    color: var(--txt);
    font-size: 1.4em;
    display: flex;
    justify-content: flex-end;
    padding-right: .5em;
    border: none;
    background-color: transparent;
}

.dashboardHeaderNewContactButton {
    display: flex;
    padding: .8em;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    gap: 5px;
    background-color: var(--logoColor);
    color: var(--txtContrast);
    border-radius: 1em;
    cursor: pointer;
}

@media(max-width: 1090px){.dashboardHeader{grid-template-columns: 1.1fr 4fr 0.3fr 1fr;}}
@media(max-width: 885px){.dashboardHeader{grid-template-columns: 1.2fr 3.5fr 0.3fr 1fr;}}
@media(max-width: 828px){.dashboardHeader{grid-template-columns: 1.2fr 3fr 0.3fr 1fr;}}
@media(max-width: 766px){.dashboardHeader{grid-template-columns: 1.2fr 2.5fr 0.3fr 1fr;}} 
@media(max-width: 704px){.dashboardHeader{grid-template-columns: 1.2fr 2fr 0.3fr 1fr;}} 