.dashboardHeader{
    background-color: var(--secondBackgroundColor);
    width: 100%;
    /* max-height: 10%; */
    padding: 1em;
    display: grid;
    align-items: center;
    grid-template-columns: 11% 70% 5% 13%;
    font-family: var(--fontDefault);
}

.dashboardHeader h1 {
    font-size: 1.4em;
}

.dashboardHeaderSearchContacts {
    margin-left: 1em;
    padding: .8em;
    border-radius: 1em;
    border: none;
    background-color: var(--thirdBackgroundColor);
}

.dashboardHeaderBellButton {
    color: var(--txt);
    font-size: 1.4em;
    display: flex;
    justify-content: flex-end;
    padding-right: .5em;
    border: none;
    background-color: transparent;
}

.dashboardHeaderNewContactButton {
    display: flex;
    padding: .8em;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    gap: 5px;
    background-color: var(--logoColor);
    color: var(--txtContrast);
    border-radius: 1em;
    cursor: pointer;
}